*

!.gitignore
!.gitmodules
!README.md

!philo/
!philo/Makefile
!philo/include/
!philo/include/*.h
!philo/src/
!philo/src/*.c

!philo_bonus/
!philo_bonus/Makefile
!philo_bonus/include/
!philo_bonus/include/*.h
!philo_bonus/src/
!philo_bonus/src/*.c

!tests/
!tests/*.sh
tests/*.log
tests/*.out
